numpy
pandas
scikit-learn
torch
torchvision
torchaudio
ipdb
tqdm
sentencepiece
jupyter
wandb
transformers
bitsandbytes 
loralib
datasets
hf_transfer
trl
peft
huggingface
python-dotenv
accelerate
einops
langchain
langchain-openai
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
openai
wandelbots
wandelbots-api-client