numpy
pandas
poetry
jupyter
huggingface
python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
openai
fastapi
nova
loguru
wandelbots
wandelbots-api-client